<div class="card day">
  <div class="card-body">
    <h5 class="card-title">{{this.0.formatted_date}}</h5>
    <ul class="list-group list-group-flush">
        {{#each this}}
            {{> activity }}
        {{/each}}
    </ul>
  </div>
</div>